<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{profile.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>

  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Name:</strong> {{profile.name}}</li>
        <li><strong>Email:</strong> {{profile.email}}</li>
      </ul>
    </div>
    {{#ifCond profile.id user.id}}
    <a href="/users/{{profile.id}}/edit">
      <button type="button" class="btn btn-primary">
        Edit
      </button>
      {{/ifCond}}
    </a>
  </div>
</div>